## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Kontagora,NG,76.08,scattered clouds,10.3999,5.4695,Queens Guest Inn
1,9,The Valley,AI,82.26,few clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
2,11,Waddan,LY,82.29,clear sky,29.1614,16.1390,محل الشريف محمد العايب
3,13,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang
4,19,Victoria,HK,81.97,overcast clouds,22.2855,114.1577,Mini Central

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt>{Country}</dd>
<dt>Current Weather</dt>{Current Description} and {Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Aquiraz")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Aquiraz")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Touros")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Sao Jose Da Coroa Grande")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Maceio")]

In [80]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
30,122,Aquiraz,BR,77.18,overcast clouds,-3.9014,-38.3911,Pousada Rua Camurupim

In [81]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]
start

(-3.9014, -38.3911)

In [82]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_route = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING' or 'WALKING' or 'BICYCLING')
fig.add_layer(vacation_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [86]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,122,Aquiraz,BR,77.18,overcast clouds,-3.9014,-38.3911,Pousada Rua Camurupim
1,102,Touros,BR,75.70,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
2,111,Sao Jose Da Coroa Grande,BR,75.06,scattered clouds,-8.8978,-35.1478,Crôa Mares Hotel
3,506,Maceio,BR,75.81,light rain,-9.6658,-35.7353,Hotel Ponta Verde Maceió

In [87]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt>{Country}</dd>
<dt>Current Weather</dt>{Current Description} and {Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [95]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(-6.0, -36.0), zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))